$about-transition-image: .3s;
$about-transition-content: .3s;
$about-transition-content-cover: .3s;
$about-transition-content-cover-delay: .4s;

.about-section {
  padding: 96px 16px 48px;
}

.about__ttl {
  margin-bottom: 8px;
  font-size: $font-size-xl;
}

.about__txt:not(:last-child) {
  margin-bottom: 8px;
}

.about__img-inner {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: $color-base;
    transition: left $about-transition-image;
  }
  & > img {
    width: 100%;
  }
  @media screen and (min-width: 769px) {
    margin-right: -80px;
  }
}

.about__columns--img-left {
  flex-direction: row-reverse;
  .about__img-inner {
    margin-right: 0;
    @media screen and (min-width: 769px) {
      margin-left: -80px;
    }
  }
}

.about__content {
  z-index: 1;
  & > div {
    overflow: hidden;
  }
}

.about__content-inner {
  position: relative;
  padding: 24px;
  background: $color-base;
  transform: translateX(-100%);
  transition: transform $about-transition-content;
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: $color-primary;
    transition: left $about-transition-content-cover $about-transition-content-cover-delay;
  }
}

.is-animated {
  .about__img-inner {
    &::before {
      left: 100%;
    }
  }
  .about__content-inner {
    transform: translateX(0);
    &::before {
      left: 100%;
    }
  }
}
