.contact-section {
  padding: 48px 16px 72px;
  background: $color-primary--bg;
}

.contact-section__title {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: $font-size-xl;
  text-align: center;
}

.contact-section__label {
  font-weight: normal;
}

.js-contact-alert {
  display: none;
}

.contact-section__btn {
  width: 280px;
  margin-top: 24px;
  padding: 16px;
  background: $color-primary--darker;
  background: linear-gradient(135deg, $color-primary, $color-primary--darker);
  background-size: 200% 100%;
  background-position: 100% 50%;
  color: #fff;
  font-size: $font-size-lg;
  text-align: center;
  border: none;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 1.5rem 2rem -1rem rgba($color-primary--darker, .5);
  transition: all $transition-slow;
  &:hover {
    background-position: 0 50%;
  }
  &:focus {
    outline: none;
  }
}
