<div class="about-section container">
  <div class="columns is-vcentered">
    <div class="about__img column is-one-third">
      <div class="about__img-inner">
        <img src="https://bulma.io/images/placeholders/480x320.png" alt="" width="300" height="200">
      </div>
    </div>
    <div class="about__content column is-two-thirds">
      <div>
        <div class="about__content-inner">
          <h2 class="about__ttl">見出しが入ります</h2>
          <p class="about__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          <p class="about__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about__columns--img-left columns is-vcentered">
    <div class="about__img column is-one-third">
      <div class="about__img-inner">
        <img src="https://bulma.io/images/placeholders/480x320.png" alt="" width="300" height="200">
      </div>
    </div>
    <div class="about__content column is-two-thirds">
      <div>
        <div class="about__content-inner">
          <h2 class="about__ttl">見出しが入ります</h2>
          <p class="about__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          <p class="about__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
    </div>
  </div>
</div>
