{%- import '../../_module/gallery.njk' as gallery -%}
{%- set galleryData = [
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  },
  {
    title: 'タイトル',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: '#'
  }
] -%}
<div class="gallery-section container">
<h2 class="gallery-section__title">GALLERY</h2>
{{ gallery.normal(galleryData) }}
</div>
