<section class="hero">
  <div class="hero__bg">
    <div class="hero__bg-item hero__bg-item--01"></div>
    <div class="hero__bg-item hero__bg-item--02"></div>
    <div class="hero__bg-item hero__bg-item--03"></div>
  </div>
  <div class="hero__ttl-wrapper container">
    <h1 class="hero__ttl"><span>タイトルが入ります</span></h1>
    <p class="hero__subttl"><span>サブタイトルが入ります</span></p>
  </div>
  <div class="hero__scroll-wrapper container">
    <span class="hero__scroll">SCROLL<span class="hero__scroll-bar"></span></span>
  </div>
</section>
