<header>
  <a href="#" id="js-header-btn" class="header__btn">
    <div class="header__bar">
      <div class="header__bar-item"></div>
      <div class="header__bar-item"></div>
      <div class="header__bar-item"></div>
    </div>
  </a>
  <div id="js-header-menu" class="menu">
    <div class="menu__bg">
      <div class="menu__bg-item"></div>
      <div class="menu__bg-item"></div>
      <div class="menu__bg-item"></div>
      <div class="menu__bg-item"></div>
    </div>
    <ul class="menu__nav">
      <li><a class="menu__nav-item" href="#">PAGE 01</a></li>
      <li><a class="menu__nav-item" href="#">PAGE 02</a></li>
      <li><a class="menu__nav-item" href="#">PAGE 03</a></li>
      <li><a class="menu__nav-item" href="#">PAGE 04</a></li>
    </ul>
  </div>
</header>
