<div class="page-loader" id="js-page-loader">
  <div class="page-loader__bg">
    <div class="page-loader__bg-item"></div>
    <div class="page-loader__bg-item"></div>
    <div class="page-loader__bg-item"></div>
    <div class="page-loader__bg-item"></div>
  </div>
  <p class="page-loader__content">
    <span>L</span>
    <span>O</span>
    <span>A</span>
    <span>D</span>
    <span>I</span>
    <span>N</span>
    <span>G</span>
  </p>
</div>
